<!DOCTYPE html>
<html lang="zh-hans" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="发现各类海报模板，展示多种设计风格。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://xiaomingyan.com/static/v-logo.svg" type="image/svg+xml" />
    <title>发现 - 海报模板</title>
    <link rel="stylesheet" href="/src/css/tailwind.css" />
    <link rel="stylesheet" href="./index.css" />
    <style>
      /* 防止瀑布流中模板项被断开 */
      .design-item {
        break-inside: avoid;
      }
    </style>
  </head>
  <body class="bg-slate-100">
    <div class="flex flex-col min-h-screen">
      <%- include(pagesPath + '/v/__common__/header.html') %>
      <main class="grow">
        <div class="container mx-auto px-4 py-6 bg-white">
          <h1 class="text-3xl font-bold text-center mb-8">海报模板</h1>
          <!-- 分类过滤器 -->
          <div id="filterContainer" class="flex justify-center mb-8"></div>
          <!-- 模板数据将由 JS 动态填充到此容器中 -->
          <div id="designContainer"></div>
        </div>
      </main>
      <%- include(pagesPath + '/v/__common__/footer.html') %>
    </div>
    <script type="module" src="./index.js"></script>
  </body>
</html>
