.-logo{
    padding:5px;
    border-radius:0.25rem;
    background-color:#f3f4f6;
  }
  
  nav.pager{
    margin-bottom:2rem;
    display:flex;
    width:100%;
    justify-content:center;
    border-radius:0.25rem;
    --tw-bg-opacity:1;
    background-color:rgb(246 246 246 / var(--tw-bg-opacity, 1));
  }
  nav.pager .pager__items{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    --tw-text-opacity:1;
    color:rgb(102 102 102 / var(--tw-text-opacity, 1));
  }
  nav.pager .pager__items .pager__item{
    display:flex;
  }
  nav.pager .pager__items .pager__item a{
    display:flex;
    height:3rem;
    min-width:2rem;
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
            user-select:none;
    align-items:center;
    justify-content:center;
  }
  nav.pager .pager__items .pager__item.is-active{
    font-weight:700;
    --tw-text-opacity:1;
    color:rgb(51 51 51 / var(--tw-text-opacity, 1));
  }
  nav.pager .pager__items .pager__item.is-active a{
    color:inherit;
  }
  nav.pager .pager__items .pager__item.is-active:last-child{
    flex-grow:1;
    justify-content:flex-start;
  }
  nav.pager .pager__items .pager__item.is-active:first-child{
    flex-grow:1;
    justify-content:flex-end;
  }
  nav.pager .pager__items .pager__item:hover{
    --tw-text-opacity:1;
    color:rgb(51 51 51 / var(--tw-text-opacity, 1));
  }
  nav.pager .pager__items .pager__item.pager__item--first{
    color:inherit;
  }
  nav.pager .pager__items .pager__item.pager__item--last{
    color:inherit;
  }
  nav.pager .pager__items .pager__item.pager__item--previous{
    flex-grow:1;
    justify-content:flex-start;
  }
  nav.pager .pager__items .pager__item.pager__item--next{
    flex-grow:1;
    justify-content:flex-end;
  }
  nav.pager .pager__items .pager__item.pager__item--first a, nav.pager .pager__items .pager__item.pager__item--previous a, nav.pager .pager__items .pager__item.pager__item--next a, nav.pager .pager__items .pager__item.pager__item--last a{
    position:relative;
    z-index:0;
    width:3rem;
    overflow:hidden;
    color:transparent;
  }
  nav.pager .pager__items .pager__item.pager__item--first a::before, nav.pager .pager__items .pager__item.pager__item--previous a::before, nav.pager .pager__items .pager__item.pager__item--next a::before, nav.pager .pager__items .pager__item.pager__item--last a::before{
    position:absolute;
    left:50%;
    top:50%;
    width:1rem;
    height:1rem;
    --tw-translate-x:-50%;
    --tw-translate-y:-50%;
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity:1;
    background-color:rgb(102 102 102 / var(--tw-bg-opacity, 1));
    content:"";
    -webkit-mask-repeat:no-repeat;
            mask-repeat:no-repeat;
    -webkit-mask-position:center;
            mask-position:center;
    -webkit-mask-size:contain;
            mask-size:contain;
  }
  @media (hover: hover) and (pointer: fine){
    nav.pager .pager__items .pager__item.pager__item--first:hover a::before, nav.pager .pager__items .pager__item.pager__item--previous:hover a::before, nav.pager .pager__items .pager__item.pager__item--next:hover a::before, nav.pager .pager__items .pager__item.pager__item--last:hover a::before{
      --tw-bg-opacity:1;
      background-color:rgb(51 51 51 / var(--tw-bg-opacity, 1));
    }
  }
  nav.pager .pager__items .pager__item.pager__item--first a::before{
    -webkit-mask-image:url("../assets/images/icon-pager-first.svg");
            mask-image:url("../assets/images/icon-pager-first.svg");
  }
  nav.pager .pager__items .pager__item.pager__item--last a::before{
    -webkit-mask-image:url("../assets/images/icon-pager-last.svg");
            mask-image:url("../assets/images/icon-pager-last.svg");
  }
  nav.pager .pager__items .pager__item.pager__item--previous a::before{
    -webkit-mask-image:url("../assets/images/icon-pager-previous.svg");
            mask-image:url("../assets/images/icon-pager-previous.svg");
  }
  nav.pager .pager__items .pager__item.pager__item--next a::before{
    -webkit-mask-image:url("../assets/images/icon-pager-next.svg");
            mask-image:url("../assets/images/icon-pager-next.svg");
  }
  nav.pager .pager__items .pager__item.pager__item--first a, nav.pager .pager__items .pager__item.pager__item--previous a{
    border-right-width:2px;
    --tw-border-opacity:1;
    border-color:rgb(255 255 255 / var(--tw-border-opacity, 1));
  }
  nav.pager .pager__items .pager__item.pager__item--next a, nav.pager .pager__items .pager__item.pager__item--last a{
    border-left-width:2px;
    --tw-border-opacity:1;
    border-color:rgb(255 255 255 / var(--tw-border-opacity, 1));
  }
  
  .menu-tree--horizontal .menu-tree__menu--root{
    display:flex;
    flex-direction:row;
    gap:1rem;
  }
  
  @media (min-width: 640px){
  
    .menu-tree--horizontal .menu-tree__menu--root{
      gap:2rem;
    }
  }
  .menu-tree--horizontal .menu-tree__menu--children{
    position:absolute;
    left:0px;
    z-index:30;
    display:none;
    width:-moz-fit-content;
    width:fit-content;
    transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    flex-direction:column;
    gap:0.5rem;
    border-radius:0.5rem;
    --tw-bg-opacity:1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1));
    padding:1rem;
    opacity:0;
    --tw-shadow:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property:all;
    transition-duration:300ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-tree--horizontal .menu-tree__menu--children .menu-tree__menu-item__link{
    white-space:nowrap;
    padding-top:0px;
    padding-bottom:0px;
  }
  .menu-tree__menu-item{
    position:relative;
  }
  .menu-tree__menu-item.has-children:hover .menu-tree__menu--children{
    display:flex;
    opacity:1;
  }
  .menu-tree--vertical .menu-tree__menu--root{
    display:flex;
    flex-direction:column;
  }
  .menu-tree--vertical .menu-tree__menu--children{
    margin-bottom:0.5rem;
    padding-left:1rem;
  }
  .menu-tree--vertical .menu-tree__menu--children .menu-tree__menu-item__link{
    white-space:nowrap;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
  }
  .menu-tree--vertical .menu-tree__menu-item__depth-0 .menu-tree__menu--children{
    border-left-width:2px;
    --tw-border-opacity:1;
    border-color:rgb(229 231 235 / var(--tw-border-opacity, 1));
  }
  .menu-tree__menu--children{
    display:flex;
    flex-direction:column;
  }
  .menu-tree__menu-item__link{
    display:block;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    --tw-text-opacity:1;
    color:rgb(107 114 128 / var(--tw-text-opacity, 1));
  }
  .menu-tree__menu-item__link:hover{
    --tw-text-opacity:1;
    color:rgb(17 24 39 / var(--tw-text-opacity, 1));
  }